bind = yes
bind_dn = uid=postfix,ou=services,{{ dc_base }}
bind_pw = {{ mail_bind_pw }}
server_host = ldaps://{{ master_ldap1 }}
{% if master_ldap2 is defined %}		ldaps://{{ master_ldap2 }}{% endif %}

server_port = 636
search_base = ou=people,{{ dc_base }}
query_filter = (&(mail=%s)(mailEnabled=TRUE))
result_attribute = mail
version = 3
