dn: olcOverlay=ppolicy,olcDatabase={2}mdb,cn=config
objectClass: olcPPolicyConfig
olcOverlay: ppolicy
olcPPolicyDefault: cn=ppolicy,ou=policies,{{ dc_base }}
olcPPolicyUseLockout: FALSE
olcPPolicyHashCleartext: TRUE
